[Unit]
Description=DRFW Firewall Service
Documentation=https://github.com/ledati16/drfw
After=network-pre.target
Before=network.target
Wants=network-pre.target
Conflicts=nftables.service

[Service]
Type=oneshot
# Load rules from /etc/nftables.conf (same as nftables.service)
# Use DRFW's "Save to System" to export rules to this location
ExecStart=/usr/bin/nft -f /etc/nftables.conf
ExecReload=/usr/bin/nft -f /etc/nftables.conf
# Only delete the drfw table on stop (preserves other tables like docker, libvirt)
ExecStop=/usr/bin/nft delete table inet drfw
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
